name: Analyze Code Quality

on:
  workflow_call:
    inputs:
      NODE_VERSION:
        required: false
        type: string
        default: "22.20.0"
    secrets:
      SONAR_TOKEN:
        required: true
      SELISE_GITHUB_PAT:
        required: true
      DEPENDENCY_TRACK_API_KEY:
        required: true

jobs:
  build:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.SELISE_GITHUB_PAT }}

      # - name: Set Environment Variables
      #   uses: ./.github/actions/setvars
      #   with:
      #     varFilePath: ./.github/variables/vars.env

      - name: Setup Node version v22.20.0
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.NODE_VERSION }}

      - name: Install dependencies
        run: npm i

      - name: Generate CycloneDX SBOM
        run: npx @cyclonedx/cyclonedx-npm --output-file bom.xml --output-format xml

      - name: Upload SBOM as a workflow artifact
        uses: actions/upload-artifact@v4
        with:
          name: sbom-cyclonedx-xml
          path: bom.xml
          retention-days: 7
          if-no-files-found: error

      - name: Upload to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@v3.1.0
        with:
          serverhostname: "api-dt.seliseblocks.com"
          apikey: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
          projectname: ${{ github.event.repository.name }}
          projectversion: ${{ github.ref_name }}
          bomfilename: "bom.xml"
          autocreate: true
